# This file is used by [direnv](https://direnv.net/), as a convenience during
# development time, only. Configurations set by this file require interctive
# confirmation from the current user and are scoped to the current directory.
# More info at (https://direnv.net/man/direnv-stdlib.1.html)
set -e

# Loads a ".env" file into the current environment
dotenv .env

# set the specific node version
nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc
  nvm use
fi

# adds ./node_modules/.bin to PATH
PATH_add node_modules/.bin
